@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

html, body{    
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;       
    background: #1D976C; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93F9B9, #1d976c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url("other/dust_scratches.png");
}

footer{     
    width: 100%;
    padding-right: 2em;    
}

.container {
    border-top: 2px solid black;
    padding-top: 2em;
}

h1 {
    font-size: 4em;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    margin: 0;
}

#calcImg {
    float: right;
    padding: 1em;
    height: 6em;
    padding-right: 3em;

}
#breakEven{
    margin-left: 1em;
}
#donate{
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0;
}
#donateButton{
    max-width: 165px;
}

#chartBox {
    margin-bottom: 2em;
    padding: 0;
}

#resetButton {
    margin-left: 100em;
}



/* Typewritter--------------------------------------------------------------------------------------*/

h3 {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    margin-top: 0;
    margin-bottom: 0.5em;

}

#welcomeMessage {
    width: 21em;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 3s steps(40, end),
    blink-caret .75s step-end infinite;

}
/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 21em
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black;
    }
}

/* stili za formatiranje tabele razultatov-------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
    #tableResults {
        display: table;
    }    
}

#tableResults {
    margin-left: 1em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

#infoChart {
    float: right;
    margin-bottom: -1em;
    right: -100px;
    margin-top: 1em;
}

.info {
    font-size: 0.6em;
}


/* side menu  -------------------------------------------------------------------------- */

.drawer-nav, .drawer-dropdown-menu{
    background-image: url("other/dust_scratches.png");
}
.panel {
    position: fixed;
    left: -20em; /*left or right and the width of your navigation panel*/
    width: 20em; /*should match the above value*/
}

#menuText {
    padding: 1em;
}

#menuAbout{
 padding: 1em;
 bottom:0;
 position: fixed;
}

.no_outline{
    outline: none;
}
#crtice{
    outline: none;
}


/*-----------POPOUP -----------------------------------------------------------------------*/
#fadeandscale {
    transform: scale(0.6);
}
.popup_visible #fadeandscale {
    transform: scale(1);
}

#wikiSource{
    font-size: 0.8em;
    color: slategrey;
}
#wikiSource :hover{
    text-decoration: none;
}

#my_popup{
    color: azure;
    width: 50%;
}
#closePopup{
    float: right;
    margin-bottom: 0.5em;
    cursor: pointer;
}


/*-----------TABLET VIEW -------------------------------------------*/
@media screen and (min-device-width: 481px) and (max-width:993px) {
   .form-group .form-group input{
        width: 120px;
    }
    .form-group .form-group .smallerInput {
        width: 60px;
    }
    #my_popup{
        width: 90%;
        padding: 1em;
    }

}



/*-----------TABLET LANDSCAPE VIEW -----------------------------*/
@media screen and (min-device-width: 770px) and (max-width:1025px) {

    #my_popup{
        width: 80%;
        padding: 1em;
    }
    .form-group {
        margin-bottom: 0;
    }
    #resetButton{
        margin-top: 0.5em;
    }
}
/*-----------MOBILE VIEW -----------------------------------------*/
@media screen and (max-width: 480px) {
    #tableResults {
        display: table;
        margin-left: 0;
    }
    #chartBox{
        margin-top: 1em;
    }
    #donate{
        margin-left: 50%;
        margin-bottom: 1em;
    }
    #breakEven{
        margin-left: 0;
    }
    #calcMain{
        margin: 1em;
    }
    #resetButton{
        margin: 0;
        margin-top: 0.5em;
    }
    #currency{
        margin-bottom: 0.5em;
    }
    #donate{
        margin-top: 1.5em;
    }
    .float-right{
        float: none !important;
    }
    #calcImg{
        margin-top: 0;
    }
    #my_popup{
        width: 100%;
        padding: 2em;
    }
    .form-group {
        margin-bottom: 0;
    }

}